<div class="dashboard">
    <div class="dashboard_header">
        <h2>Welcome {{ user.firstname | uppercase }} {{ user.lastname | uppercase}}</h1>
        <h2><a href="/logout">Logout</a></h2>
        <h2><a href="#/home">Home</a></h2>
        <h1>Dashboard</h1>
        <h3>My Listings</h3>
        <h1><button ng-click="newishPost = !newishPost" ng-hide="newishPost">Create New Listing</button></h1>
    </div>

        <form class="new_post" ng-model="newPost" ng-show="newishPost">
            <input type="text" placeholder="Title" ng-model="newPost.title">
            <select class="" name="" ng-model="newPost.category">
                <option value="new">New</option>
                <option value="used">Used</option>
            </select>
            <input type="number" placeholder="Price" ng-model="newPost.price">
            <textarea name="description" rows="8" cols="40" ng-model="newPost.description"></textarea>
            <input type="file" images="images" accept="image/*" photo-convert>
            <input type="button" name="name" value="Add Listing" ng-click="addUserPost(newPost)">
        </form>

    <div class="posts" ng-repeat="post in posts">
        <div class="post_card">
                <ul ng-hide="editPost">
                    <li>Title: {{ post.title }}</li>
                    <li>Price: ${{ post.price }}</li>
                    <li>Category: {{ post.category }}</li>
                    <li>Description: {{ post.description }}</li>
                    <li>Expires: {{ post.expires }}</li>
                    <img ng-src="{{ post.img[0] }}" class="dashboard_thumbnail" />
                </ul>
            <ul ng-hide="!editPost">
                <li>User: {{ post.user.firstname | uppercase }} {{ post.user.lastname | uppercase}}</li>
                <li>Title: <input type="text" name="name" value="{{ post.title }}" ng-model="post.title"></li>
                <li>Price: <input type="number" name="name" value="{{ post.price }}" ng-model="post.price"></li>
                <li>Category: <select class="" name="" ng-model="post.category">
                    <option value="new">New</option>
                    <option value="used">Used</option>
                </select><li>
                <li>Description: <textarea name="name" rows="8" cols="40" ng-model="post.description">{{ post.description }}</textarea></li>
            </ul>
            <div class="controls">
                <button class="post_button" ng-click="deleteUserPost(post._id)">Destroy</button>
                <button class="post_button" ng-click="editPost = !editPost" ng-hide="editPost">Edit</button>
                <button class="post_button" ng-hide="!editPost" ng-click="editPost = !editPost">Just Kidding</button>
                <button class="post_button" ng-hide="!editPost"  ng-click="updateUserPost(post._id, post); editPost = !editPost" >Save</button>
            </div>
        </div>
    </div>

</div>
