<header-dir></header-dir>


<div class="home">
    <!-- Filter side bar -->
    <div class="filter" ng-show="filter">
        <h2>Filter</h2>
        <h3>Categories</h3>
            <label>New<input type="radio" name="nu" value="new" ng-model="nu"></label>
            <label>Used<input type="radio" name="nu" value="used" ng-model="nu"></label>
            <!-- <label>All<input type="radio" name="nu" value="all" ng-model="nu"></label> -->
            <button ng-click="cat(nu)">Apply</button>
        <h3>Price</h3>
        <ul>
            <button type="button" name="button" ng-click="high()">High to Low</button>
            <button type="button" name="button" ng-click="low()">Low to High</button>
        </ul>
        <button type="button" name="button" ng-click="reset()">Reset</button>
        <!-- <h3>Ending</h3>
        <ul>
            <li ng-click="newest()">Newest Listing</li>
            <li ng-click="ending()">Ending First</li>
        </ul> -->
    </div>
    <!-- Begin Listings -->
    <div class="block_list" ng-repeat="post in posts | orderBy:predicate:reverse | filter:stuff" ng-href="{{details}}">
        <img ng-src="../styles/baby_turtle.jpg" alt="Thumbnail" class="thumbnail" />
        <ul class="list">
            <li class="title">Title: {{ post.title }}</li>
            <li>Price: ${{ post.price }}</li>
            <li>Category: {{ post.category }}</li>
            <li>Date: {{ post.createdAt }}</li>
            <!-- <li>Description: {{ post.description }}</li> -->
        </ul>
        <br>
    </div>


</div>
