<div class="">
    <h1>Sign Up</h1>
    <!-- Register New User -->
    <form>
        <input type="text" name="firstname" placeholder="First Name..." required="true" ng-model="form.firstname">
        <input type="text" name="lastname" placeholder="Last Name..." required="true" ng-model="form.lastname">
        <input type="text" name="email" placeholder="Email..." required="true" ng-model="form.email">
        <input type="text" name="password" placeholder="Password..." required="true" ng-model="form.password">
        <!-- <input type="button" name="name" value="Sign Up" placeholder=""> -->
        <input type="submit" name="name" value="Register" ng-click="register(form)">
    </form>
    <h1>Login</h1>
    <!-- Login as a User -->
    <form>
        <input type="text" name="email" placeholder="Email...">
        <input type="text" name="password" placeholder="Password...">
        <input type="button" name="name" value="Login" placeholder="">
    </form>


</div>
