@import url(reset.css);
html, body {
  color: #22313f; }

.header {
  position: relative;
  background-color: #2574A9;
  height: 100px;
  color: #fff;
  padding-top: 8px;
  margin-bottom: 45px; }
  .header h1 {
    font-size: 32px;
    padding: 10px;
    text-align: center; }
  .header h2 {
    font-size: 20px;
    text-align: center;
    font-weight: lighter; }
  .header h3 {
    position: absolute;
    font-size: 22px;
    bottom: 40px;
    right: 40px; }
  .header h4 {
    position: absolute;
    bottom: 45px;
    right: 40px; }
  .header a {
    text-decoration: none;
    font-size: 18px;
    color: #fff; }

.home {
  font-size: 18px;
  height: 100%;
  max-width: 1000px;
  display: flex;
  margin: auto;
  position: relative; }
  .home .left_box {
    width: 30%;
    display: inline-flex;
    position: fixed; }
    .home .left_box .filter {
      margin-top: 10px;
      padding: 20px;
      border: 1px solid #95A5A6;
      border-radius: 5px;
      height: 100%; }
      .home .left_box .filter h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px; }
      .home .left_box .filter h3 {
        margin: 20px; }
      .home .left_box .filter input {
        margin-left: 40px; }
      .home .left_box .filter label {
        font-size: 18px;
        padding: 10px; }
      .home .left_box .filter button {
        width: 100px;
        height: 36px;
        font-family: "Helvetica";
        background-color: #2574A9;
        border: none;
        box-shadow: none;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer; }
  .home .right_box {
    width: 79%;
    margin-left: 275px; }
    .home .right_box .block_list {
      padding: 10px;
      border-bottom: 1px solid #95A5A6;
      height: 100%;
      margin: 10px;
      vertical-align: middle;
      position: relative; }
      .home .right_box .block_list .bold {
        font-weight: bold; }
      .home .right_box .block_list .thumbnail {
        height: 115px;
        width: 115px;
        display: inline-block;
        border-radius: 3px;
        border: 1px solid #202020; }
      .home .right_box .block_list .top_list {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .home .right_box .block_list .top_list p {
          vertical-align: top;
          font-size: 24px;
          padding: 10px 50px 0 0; }
      .home .right_box .block_list .post {
        font-weight: lighter;
        position: absolute;
        bottom: 10px;
        right: 10px; }

.login_main {
  font-size: 18px;
  height: 100%;
  max-width: 1000px;
  display: flex;
  margin: auto; }
  .login_main h1 {
    font-size: 36px;
    margin: 30px 0 15px 0; }
  .login_main .login_left {
    width: 50%;
    text-align: center;
    border-right: solid 1px #202020; }
  .login_main .login_right {
    width: 50%;
    text-align: center; }
  .login_main input {
    margin: 10px;
    padding: 7px;
    width: 220px; }
  .login_main .button {
    width: 100px;
    height: 36px;
    font-family: "Helvetica";
    background-color: #2574A9;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer; }
  .login_main .button:hover {
    width: 100px;
    height: 36px;
    font-family: "Helvetica";
    background-color: #2574A9;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px; }

.dashboard .dashboard_header {
  position: relative;
  padding: 50px; }
  .dashboard .dashboard_header h1 {
    font-size: 56px;
    text-align: center; }
  .dashboard .dashboard_header h2 {
    text-align: right;
    font-size: 18px;
    margin: 3px; }
  .dashboard .dashboard_header h3 {
    text-align: center;
    font-size: 48px;
    margin: 10px; }
  .dashboard .dashboard_header button {
    width: 200px;
    height: 36px;
    font-family: "Helvetica";
    background-color: #2574A9;
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer; }
.dashboard .new_post {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px; }
.dashboard .posts {
  border: 1px solid #202020;
  display: inline-flex;
  width: 350px;
  min-height: 350px;
  margin: 30px;
  padding: 30px; }
  .dashboard .posts .post_card {
    width: 100%;
    font-size: 18px; }
  .dashboard .posts .controls {
    text-align: center;
    vertical-align: bottom; }
    .dashboard .posts .controls .post_button {
      width: 100px;
      height: 28px;
      font-family: "Helvetica";
      background-color: #2574A9;
      border: none;
      box-shadow: none;
      color: #fff;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      margin: 5px;
      vertical-align: bottom;
      position: relative; }
.dashboard .dashboard_thumbnail {
  border: 1px solid #202020;
  border-radius: 5px;
  width: 115px;
  display: inline-block;
  margin: 0 auto;
  margin: 10px; }
.dashboard .ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }
.dashboard .ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: absolute;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }
.dashboard .ng-modal-dialog-content {
  padding: 10px;
  text-align: left; }
.dashboard .ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

/*# sourceMappingURL=main.css.map */
