// Import reset.css //

@import "reset.css";



// Begin mobile first styles //
.header {
    padding: 10px;
    text-align: center;

    h1{
        font-size: 56px;
        font-weight: bold;
        margin: 10px;
    }

    p {
        padding: 10px;
        margin: 10px;
        font-size: 36px;
        outline: red solid 1px;
        display: inline;
    }
    a {
        text-decoration: none;
        color: green;
    }

    .signup {
        padding: 5px;
        background: lime;
        border-radius: 5px;
        color: #fff;
        font-size: 1.5em;
    }
}



.home {

    padding: 10px;
    font-size: 24px;


    .block_list {
        outline: red 1px solid;
        color: blue;
        padding: 10px;
        position: relative;

        .thumbnail {
            height: 115px;
            width: 115px;
            display: inline-block;
        }

        .list {
            display: inline-block;
            position: absolute;
            top: 10px;

            .title {

            }
        }
    }
    .filter {
        outline: red 1px solid;
        color: lime;
        display: inline-block;


    }
}

.dashboard {
        .dashboard_thumbnail {
            height: 115px;
            width: 115px;
            display: inline-block;
        }
}
